.body {
  width: 100%;
  background-color: wheat;
}

.head {
  background-color: blue;
  color: white;
  font-size: 35px;
  width: 80%;
  height: 50px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.instructions {
  background-color: royalblue;
  color: white;
  width: 80%;
  padding: 10px;
  margin-left: 20px;
}

.instructions p {
  padding: 10px;
  
}

.scoreSection {
  display: flex;
  width: 80%;
  padding: 10px;
}

#targetNumber {
  background-color: goldenrod;
  text-align: center;
  flex: 1.5;
  font-size: 25px;
  color:white;
  height: 75px;
  margin: 10px;
}

#scoreSheet {
  background-color:goldenrod;
  color: white;
  flex: .75;
  margin: 10px;
  height: 75px;
  width: 30px;
  text-align: center;
  
}

#scoreSheet p {
  padding: 10px;
}

#extra {
  flex: 2;
}

.back {
  display: inline-block;
}

img {
  width: 60px;
  height: 60px;
 
}

.back {
  margin: 10px;
  margin-left: 20px;
}

#totalScore {
  background-color:purple;
  height: 20px;
  width: 80%;
  margin: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 8px;
  color: white;
}

#curScore {
  background-color:purple;
  width: 80%;
  height: 70px;
  margin-left: 20px;
  padding: 10px;
  color: white;
  font-size: 25px;
}